<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>React Serverless</title>
    <link href="<%= htmlWebpackPlugin.files.css %>" media="all" rel="stylesheet" type="text/css">
  </head>
  <body>
  </body>
</html>
